header {
  height: 10svh;
  border: 3px solid var(--rtc-color-3);
  border-radius: 20px;
}

header nav {
  width: 100%;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10svh;
}

header a {
  color: black;
  font-size: 2.5rem;
  padding-bottom: 5px;
}

header a.active {
  border-bottom: 3px solid var(--rtc-color-3);
}

@media (max-width: 600px) {
  header a.active {
    border-bottom: none;
  }
  header a {
    color: black;
    font-size: 1.2rem;
    padding-bottom: 5px;
  }
}
