#characters {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.character-card {
  position: relative;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: solid 4px var(--rtc-color-3);
  width: 250px;
  height: 350px;
  padding: 20px 10px;
  transition: transform 0.3s ease;
}

.character-card > .hidden {
  height: 0;
  display: flex;
  background-color: rgba(128, 128, 128, 0.8);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: height 1s ease;
  width: 100%;
  box-sizing: border-box;
}

.character-card:hover > .hidden {
  height: 100%;
}

.character-card h2 {
  font-size: 1.2rem;
  color: var(--rtc-color-3);
}

.character-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}
